<!-- Contact US -->
{% load static %}
<!--Site Footer Here-->
<footer id="site-footer" class=" bgdark padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <a href="index.html" class="footer_logo bottom25"><img src="{% static 'images/fsitlogo.png' %}" alt="Cloud Services"></a>
                    <div class="d-table w-100 address-item whitecolor bottom25">
                        <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
                        <p class="d-table-cell align-middle bottom0">
                            +1 (301) 464-6101 <a class="d-block" href="mailto:support@fsitservices.com">support@fsitservices.com</a>
                        </p>
                    </div>
                    <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="https://www.facebook.com/fsitservices"><i class="fab fa-facebook-f"></i> </a> </li>
                        <li><a href="https://www.linkedin.com/company/fsit-services"><i class="fab fa-linkedin-in"></i> </a> </li>
                        <li><a href="https://www.instagram.com/fsit_services/"><i class="fab fa-instagram"></i> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="whitecolor bottom25">Quick Links</h3>
                    <ul class="links">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'blogs' %}">Latest News</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'termsnconditions' %}">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="whitecolor bottom25">Business hours</h3>
                    <p class="whitecolor bottom25">Our support available to help you 24 hours a day, seven days week</p>
                    <ul class="hours_links whitecolor">
                        <li><span>Monday-Friday:</span> <span>8:00 AM - 6:00 PM</span></li>
                        <li><span>Saturday:</span> <span>Closed</span></li>
                        <li><span>Sunday:</span> <span>Closed</span></li>
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</footer>
<!--Footer ends-->
<!--copyright-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn animated" data-wow-delay="300ms">
                <p class="m-0 py-3">Copyright © <span id="year1"></span> <a href="javascript:void(0)" class="hover-default">FSIT Services</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

