
<section id="stayconnect" class="bglight position-relative">
  <div class="container">
    <div class="contactus-wrapp shadow-equal">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
            <h3 class="darkcolor bottom20">Stay Connected</h3>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <form class="getin_form wow fadeInUp" data-wow-delay="400ms" action="{% url 'subscribe' %}" method="post" id="subscribeForm">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="userName" class="d-none"></label>
                  <input class="form-control" type="text" placeholder="First Name:" required name="first_name">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="companyName" class="d-none"></label>
                  <input class="form-control" type="tel" placeholder="Company Name" name="company_name">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-group">
                  <label for="email" class="d-none"></label>
                  <input class="form-control" type="email" placeholder="Email:" required name="email">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <button type="submit" class="button gradient-btn w-100">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const subscribeForm = document.getElementById('subscribeForm');
    

    subscribeForm.addEventListener('submit', function (event) {
      event.preventDefault();
      fetch('{% url "subscribe" %}', {
        method: 'POST',
        body: new FormData(subscribeForm),
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': '{{ csrf_token }}',
        },
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          showAlert('Email sent successfully!');
          subscribeForm.reset();
          // Redirect to 'blog_list' after showing the alert
          window.location.href = "{% url 'blog_list' %}";
        } else {
          showAlert('Error: ' + data.message);
          window.location.href = "{% url 'error' %}";

        }
      })
      .catch(error => {
        showAlert('Error: ' + error.message);
        window.location.href = "{% url 'error' %}";

      });
    });

    function showAlert(message) {
      // Show the alert using JavaScript
      alert(message);
    }
  });
</script>
