{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<section id="main-banner-page" class="position-relative page-header blog-header parallax section-nav-smooth">
    <div class="overlay overlay-dark opacity-8 z-index-1"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="page-titles whitecolor text-center padding_top padding_bottom">
            <!--<h2 class="font-light">Privacy</h2>-->
          </div>
        </div>
      </div>
      <div class="gradient-bg title-wrap bottom25">
       <div class="row">
         <div class="col-lg-12 col-md-12 whitecolor">
          <h3 class="float-left">Privacy</h3>
        </div>
       </div>
      </div>
    </div>
 </section>
<section id="ourfaq" class="bglight position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animated wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2"></h2><span class="font-normal"></span>
                    <!--<span class="divider-center"></span>-->
                </h2>
                <p>{{ privacy.text | safe }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}