{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header service-detail-header section-nav-smooth parallax">
    <div class="overlay overlay-dark opacity-7 z-index-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="page-titles whitecolor text-center padding_top padding_bottom">
<!--                    <h2 class="font-xlight">We Love </h2>-->
                    <h2 class="font-bold">Our Services</h2>
<!--                    <h2 class="font-xlight">Products</h2>-->
<!--                    <h3 class="font-light pt-2">The Best Multipurpose Template in Market</h3>-->
                </div>
            </div>
        </div>
        <div class="gradient-bg title-wrap">
            <div class="row">
                <div class="col-lg-12 col-md-12 whitecolor">
                    <h3 class="float-left">Service Detail</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Page Header ends -->
<!-- <section id="our-services" class="padding bglight">
    <div class="container">

    </div>
</section> -->
<!-- Services us -->
<section id="our-services" class="padding bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-4 col-md-5">
                {%if service.image%}
                <div class="image widget bottom20"><img alt="SEO" src="{{service.image.url}}"></div>
                {%elif not service.image%}
                <div class="image widget bottom20"><img alt="SEO" src="{% static 'images/aboutus.png' %}"></div>
                {%endif%}
                <div class="widget heading_space text-center text-md-left">
                    <h4 class="text-capitalize darkcolor bottom20">Need Help?</h4>
                    <div class="contact-table colorone d-table bottom15">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-mobile-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            {% if need_help.phoneNumber %}
                            <p class="bottom0">{{need_help.phoneNumber}}</p>
                            {%else%}
                            <p class="bottom0">+92-0900-10072 <span class="d-block">+92-0900-10072</span></p>
                            {%endif%}
                        </div>
                    </div>
                    <div class="contact-table colorone d-table bottom15 text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            {%if need_help.address and need_help.city and need_help.country %}
                            <p class="bottom0">{{need_help.address}}
                                <span class="d-block">{{need_help.city}}, {{need_help.country}} </span>
                            </p>
                            {%else%}
                            <p class="bottom0">130 Queens St.Tottenham Road,
                                <span class="d-block">Tokio Japan</span>
                            </p>
                            {%endif%}
                        </div>
                    </div>
                    <div class="contact-table colorone d-table text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="far fa-clock"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            {% if need_help.open_time and need_help.closed %}
                            <p class="bottom0">{{need_help.open_time}}
                                <span class="d-block">{{need_help.closed}}</span>
                            </p>
                            {%else%}
                            <p class="bottom0">Mon to Sat - 9:00am to 6:00pm
                                <span class="d-block">Sunday: Closed</span>
                            </p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="widget heading_space text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">{{service.title}}</h3>
                    <p class="bottom30">{{service.text | safe}} </p>
                    <!--<div class="owl-carousel" id="service-detail">
                        <div class="item">
                            <div class="image"><img alt="" src="{% static 'images/service-6.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="" src="{% static 'images/service-6.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="" src="{% static 'images/service-6.jpg' %}"></div>
                        </div>
                        <div class="item">
                            <div class="image"><img alt="" src="{% static 'images/service-6.jpg' %}"></div>
                        </div>
                    </div>-->
                </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}
