{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header team-header section-nav-smooth parallax">
   <div class="overlay overlay-dark opacity-8    z-index-1"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-6 offset-lg-3">
            <div class="page-titles whitecolor text-center padding_top padding_bottom">
               <h2 class="font-bold">Our Clients</h2>
               </div>
         </div>
      </div>
      <div class="gradient-bg title-wrap">
         <div class="row">
         </div>
      </div>
   </div>
</section>
<!--Page Header ends -->
<!--team members-->
<section class="padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center heading_space animated wow fadeIn" data-wow-delay="300ms">
            <!--<h2 class="heading bottom30 darkcolor font-light2">Our <span class="font-normal">Clients</span>
               <span class="divider-center"></span>
            </h2>-->
         </div>
      </div>
      <div class="row equal-shadow-team">
      {% for client in clients %}
         <!--item 1-->
         <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
            <div class="team-box wow fadeIn" data-wow-delay="300ms">
               <div class="image">
                 <img src="{{client.image.url}}" alt="">
               </div>
            </div>
         </div>
      {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
